@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* Banner Section Styles */
.banner-container {
    width: 1320px;
    height: 600px;
    /* margin-left: 140px; according to figma file
    margin-right: 140px; according to figma file
    margin-bottom: 50px; according to figma file */
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-image: url('./new-year-offer-resources/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
}
.banner-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-content p {
    font-size: 32px;
    font-weight: 400;
}
.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}
.greeting {
    padding-left: 60px;
}